<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-content [fullscreen]="true">
  <swiper-container pagination="true">
    <swiper-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" size-md="6" size-sm="8" size-xl="3">
            <ion-img src="./../assets/images/welcome.svg"></ion-img>
          </ion-col>
          <ion-col size="10">
            <h1 class="ion-text-center" id="MyGardenTitle">to MyGarden !</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide class="ion-text-center">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" size-md="6" size-sm="8" size-xl="3">
            <ion-img
              src="{{
                isDarkModeEnable
                  ? './../assets/images/around_the_world_re_rb1p_black.svg'
                  : './../assets/images/around_the_world_re_rb1p.svg'
              }}">
            </ion-img>
          </ion-col>
          <ion-col size="12">
            <h1>
              {{ "WELCOME_SCREEN.swipe2.title" | translate }}
            </h1>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="8" size-sm="10" size-xl="3">
            <ion-list lines="none">
              <ion-radio-group
                (ionChange)="onSwitchLanguage($event)"
                [value]="selectedLanguage"
                allow-empty-selection="false"
                name="radio-group">
                <ion-item>
                  <ion-radio
                    color="primary"
                    labelPlacement="end"
                    justify="start"
                    value="en"
                    >English</ion-radio
                  >
                </ion-item>

                <ion-item>
                  <ion-radio
                    color="primary"
                    labelPlacement="end"
                    justify="start"
                    value="fr"
                    >French</ion-radio
                  >
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" size-md="6" size-sm="8" size-xl="3">
            <ion-img
              src="{{
                isDarkModeEnable
                  ? './../assets/images/gardening_black.svg'
                  : './../assets/images/gardening.svg'
              }}">
            </ion-img>
          </ion-col>
          <ion-col size="10">
            <h1>
              {{ "WELCOME_SCREEN.swipe3.title" | translate }}
            </h1>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11">
            <ion-text
              ><strong>MyGarden</strong>
              {{ "WELCOME_SCREEN.swipe3.subtitle" | translate }}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid class="text-center">
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" size-md="6" size-sm="8" size-xl="3">
            <ion-img
              src="{{
                isDarkModeEnable
                  ? './../assets/images/loving_story_black.svg'
                  : './../assets/images/loving_story.svg'
              }}">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="10">
            <h1>We love Open Source</h1>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="11">
            <ion-text
              ><strong>MyGarden</strong>
              {{ "WELCOME_SCREEN.swipe4.subtitle" | translate }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" size-md="8" size-sm="10" size-xl="3">
            <ion-button (click)="start()" color="primary" expand="block">
              {{ "WELCOME_SCREEN.swipe4.btnStart" | translate }}
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container>
</ion-content>
