/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

.vegetable-button {
  border: 1px solid #650953;
  width: 10em;
  height: 10em;
  margin-top: 5%;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
