/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

ion-tab-bar {
  width: 90%;
  max-width: 40em;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

@media (prefers-color-scheme: dark) {
  ion-tabs {
    background-color: var(--ion-background-color);
  }
}
