/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

swiper-container {
  height: 100%;
  width: 100%;
  transform: none;
}

.swiper-container {
}

swiper-slide {
  overflow-y: scroll;
}

ion-footer {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.garden-template {
  border: 1px solid rgba(128, 128, 128, 0.11);
  text-align: center;
  border-radius: 15px;
}

ion-img {
  height: 10em;
}

.garden-template input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  visibility: hidden;
}

.garden-template input:checked ~ label .checkmark {
  visibility: visible;
}
