<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-toolbar>
  <ion-title>{{
    editMode
      ? ("TAB2.editGardenModal.editGardenTitle" | translate)
      : ("TAB2.editGardenModal.addGardenTitle" | translate)
  }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button
      (click)="onSave()"
      *ngIf="gardenForm && editMode"
      [disabled]="!isFormValid()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content fullscreen="true">
  <div *ngIf="!formIsReady">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <!--suppress AngularUndefinedBinding -->
  <swiper-container #swiperEl class="swiper-container" init="false">
    <swiper-slide>
      <ion-title>
        {{ "TAB2.editGardenModal.chooseTemplate" | translate }}
      </ion-title>
      <form *ngIf="formIsReady" [formGroup]="gardenForm">
        <ion-grid formGroupName="templateSlide" class="garden-tour-template">
          <ion-row class="ion-justify-content-around">
            <ion-col
              *ngFor="let template of templates"
              [class.squareTemplate]="template.value === 'square'"
              class="garden-template ion-margin-bottom"
              size="5">
              <input
                formControlName="templateName"
                [id]="template.value"
                [value]="template.value"
                (click)="onTemplateClicked()"
                name="templateName"
                type="radio" />
              <label [for]="template.value">
                <ion-img [src]="template.imagePath"></ion-img>
                <br />
                <ion-text>
                  <h6>
                    {{ template.label | translate }}
                    <ion-icon class="checkmark" name="checkmark"></ion-icon>
                  </h6>
                </ion-text>
              </label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </swiper-slide>
    <swiper-slide>
      <form *ngIf="formIsReady" [formGroup]="gardenForm" id="gardenForm">
        <div formGroupName="gardenSlide" class="gardenInfoTour">
          <ion-item class="gardenNameTour">
            <ion-input
              formControlName="name"
              label="{{ 'TAB2.editGardenModal.gardenName' | translate }}"
              labelPlacement="floating"
              spellcheck="true"
              type="text">
            </ion-input>
          </ion-item>
          <span
            *ngIf="
              !gardenForm.get('gardenSlide').get('name').valid &&
              gardenForm.get('gardenSlide').get('name').touched
            "
            class="help-block">
            <span
              *ngIf="
                gardenForm.get('gardenSlide').get('name').errors['required']
              ">
              <ion-icon color="danger" name="alert-circle"></ion-icon>
              <ion-text color="danger"
                >{{ "TAB2.editGardenModal.required" | translate }}
              </ion-text>
            </span>
            <span
              *ngIf="
                gardenForm.get('gardenSlide').get('name').errors[
                  'nameIsForbidden'
                ]
              ">
              <ion-icon color="danger" name="alert-circle"></ion-icon>
              <ion-text color="danger"
                >{{ "TAB2.editGardenModal.nameAlreadyUsed" | translate }}
              </ion-text>
            </span>
            <span
              *ngIf="
                gardenForm.get('gardenSlide').get('name').errors['maxlength']
              ">
              <ion-icon color="danger" name="alert-circle"></ion-icon>
              <ion-text color="danger"
                >{{ "TAB2.editGardenModal.tooLong" | translate }}
              </ion-text>
            </span>
            <span
              *ngIf="
                gardenForm.get('gardenSlide').get('name').errors['minlength']
              ">
              <ion-icon color="danger" name="alert-circle"></ion-icon>
              <ion-text color="danger"
                >{{ "TAB2.editGardenModal.tooShort" | translate }}
              </ion-text>
            </span>
          </span>
          <ion-item class="gardenDescriptionTour">
            <ion-textarea
              formControlName="description"
              id="description"
              label="{{ 'TAB2.editGardenModal.otherInformation' | translate }}"
              labelPlacement="floating">
            </ion-textarea>
          </ion-item>
        </div>
        <ion-title class="ion-margin-top">
          {{ "TAB2.editGardenModal.selectVegetables" | translate }}
        </ion-title>
        <ion-list class="vegetableSelectTour">
          <ion-button
            (click)="onSelectAll()"
            class="ion-margin-start"
            size="small"
            >{{
              allVegetablesAreSelected
                ? ("TAB2.editGardenModal.unselectAll" | translate)
                : ("TAB2.editGardenModal.selectAll" | translate)
            }}
          </ion-button>
          <ion-item *ngFor="let vegetable of vegetableForm; let i = index">
            <ion-checkbox
              [(ngModel)]="vegetable.isChecked"
              [ngModelOptions]="{ standalone: true }"
              label-placement="end"
              justify="start">
              {{ vegetable.name }}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </form>
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer *ngIf="!editMode">
  @if (getSlideIndex() === 1) {
    <ion-button
      (click)="onPreviousSlide()"
      class="ion-margin"
      shape="outline"
      style="float: left">
      {{ "GLOBAL.PREV" | translate }}
    </ion-button>
    <ion-button
      (click)="onSave()"
      [disabled]="!isFormValid()"
      class="ion-margin"
      style="float: right">
      {{ "GLOBAL.validate" | translate }}
    </ion-button>
  } @else {
    <ion-button
      (click)="onTemplateChosen()"
      class="ion-margin go-to-garden-size-tour"
      shape="outline"
      style="float: right">
      {{ "GLOBAL.NEXT" | translate }}
    </ion-button>
  }
</ion-footer>
