<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
    <ion-col
      offset="3"
      offset-lg="5"
      offset-md="4"
      size="3"
      size-lg="1"
      size-md="2">
      <ion-select
        (ionChange)="onChangeGarden($event)"
        [value]="gardenSelected.garden.name"
        cancelText="{{ 'GLOBAL.cancel' | translate }}"
        okText="{{ 'TAB2.selectGarden.ok' | translate }}">
        <ion-select-option *ngFor="let garden of gardens" [value]="garden.name">
          {{ garden.name }}
        </ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col class="ion-no-margin ion-no-padding" size="6">
      <ion-button
        [disabled]="!!gardenSelected === null"
        class="yearTour"
        fill="clear"
        id="popover_button">
        <ion-label style="color: var(--ion-color-dark); text-transform: none">
          {{ "TAB2.selectGarden.year" | translate }} :
          {{ gardenSelected.date.getFullYear() }}
        </ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col
      *ngFor="let month of months; let i = index"
      class="ion-margin-end"
      size="auto">
      <input
        (click)="onChangeMonth(gardenSelected.garden.extra.plantingMonth[i])"
        [checked]="
          gardenSelected.garden.extra.plantingMonth[i] ===
          gardenSelected.date.getMonth()
        "
        [id]="gardenSelected.garden.extra.plantingMonth[i]"
        [value]="month"
        name="selected_month"
        type="radio" />
      <label [for]="gardenSelected.garden.extra.plantingMonth[i]">
        {{ month }}
      </label>
    </ion-col>
  </ion-row>
</ion-grid>
<!--  popover (year)-->
<ion-popover trigger="popover_button">
  <ng-template>
    <ion-datetime
      #dateTime
      (ionChange)="onChangeYear(dateTime.value)"
      [max]="getEndTime()"
      [min]="getStartTime()"
      [value]="gardenSelected.date.getFullYear()"
      max="2030"
      presentation="year">
    </ion-datetime>
  </ng-template>
</ion-popover>
