/*
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

input:checked + label {
  color: var(--ion-color-primary);
}

/*Hide the browser's default checkbox*/
ion-col input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input {
  cursor: pointer;
}

.scroll-x {
  /*flex-wrap: nowrap;*/
  overflow-x: scroll !important;
  overflow-y: hidden;
}
