<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->
<ion-grid
  (click)="onSelected()"
  class="vegetable-button shadow-sm ion-padding-top">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="7">
      <ion-img [src]="vegetable.imagePath"> </ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-text-center">
    <ion-col class="ion-no-margin">
      <ion-label>
        {{ vegetable.name | shorten: 7 | uppercase }}
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
